* {
     font-family: "Montserrat";
}

html,
body {
     padding: 0;
     margin: 0;

}

section {
     padding: 64px 128px;
}

#header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 16px 128px;
     position: sticky;
     top: -100px;
     /* Menghilangkan header saat scroll ke bawah */
     z-index: 1;
     background-color: #FFA41B;
     box-shadow: 0 1px 0px;
     transition: top 0.8s;

}

#header.visible {
     top: 0;
     /* Munculkan header saat tidak scroll atau scroll ke atas */
}


#header h1 {
     margin: 0;
     animation: bounceIn 2s;
     /* animation: flash 1s infinite; */

}

.service-header {
     display: flex;
     align-items: center;
     justify-content: space-between;

}

#landing {
     display: flex;
     justify-content: space-between;
     align-items: center;
     column-gap: 16px;
}

.service-detail {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     column-gap: 128px;
     margin-top: 36px;
}

.service-detail-item {
     box-shadow: 0px 3px 5px #979797;
}

.service-detail-item img {
     width: 100%;
}

.service-detail-item p {
     font-size: 16;
     padding: 0 16px;
}

.service-detail-item h2 {

     padding: 0 16px;
}

.service-header h1 {
     position: relative;
}

.service-header h1::before {
     content: "";
     width: 60px;
     height: 60px;
     background: url('./images/accent1.svg');
     position: absolute;
     left: -30px;
     top: -30px;
     z-index: -1;
}

h1 {
     font-weight: 800;
     font-size: 30px;
     margin: 0 0 16px 0;

}

p {
     color: #979797;
     margin: 0 0 16px 0;
}

a {
     text-decoration: none;
     color: black;
     font-size: 20;
}

.btn {
     background-color: #FFA41B;
     padding: 8px 20px;
     border: solid #FFA41B;
     border-radius: 8px;
     color: white;
}

.btn-alt {
     background-color: white;
     color: black;
     margin-right: 10px;
}

#landing p {
     margin-bottom: 32px;
}

nav a {
     margin-left: 12px;
}

nav a:hover {
     color: white;
     font-size: 24px;
}

#about {
     display: flex;
     justify-content: space-between;
     align-items: center;
     column-gap: 16px;
}

#about img {
     width: 80%;
     height: auto;
}

._container_about {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#about>div {
     width: 50%;
}

.ylw_container {
     display: inline-block;
     width: 55px;
     height: 5px;
     background-color: #FFA41B;
}

#about h1 {
     margin: 0;
}

.contact-detail {
     display: flex;
     justify-content: space-between;
     margin-top: 72px;
}

.form-group {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 32px;
     margin-top: 32px;
     grid-template-areas: "name subject"
          "email phone"
          "message message";
}

#input-name {
     grid-area: name;
}

#input-subject {
     grid-area: subject;
}

#input-email {
     grid-area: email;
}

#input-phone {
     grid-area: phone;
}

#input-message {
     grid-area: message;
}


.input-group {
     display: flex;
     flex-direction: column;
     margin-bottom: 32px;
}

.input-group label {
     font-weight: 800px;
     margin-bottom: 16px;
     font-size: 20px;
}

.input-group input {
     border: none;
     outline: none;
     border-bottom: 1px solid black;
}

.input-group input:focus {

     border-bottom: 2px solid #FFA41B;
}

form button {
     border: none;
}

form button:hover {
     cursor: pointer;
     border: 1px solid black;
     background-color: white;
     color: black;

}

form {
     display: flex;
     flex-direction: column;
     border: 2px solid #FFA41B;
     padding: 36px 36px;
}

form h1 {
     font-size: 24px;
     text-align: center;
}

footer {
     padding: 64px 100px;
     background-color: #FFA41B;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

footer p {
     color: white;
     width: 50%;
}

.social-icon {
     display: flex;
     gap: 20px;

}

#contact h1 {
     position: relative;
}

#contact>h1::before {
     content: "";
     width: 40px;
     height: 40px;
     position: absolute;
     background: url("./images/accent2.svg");
     left: -25px;
     top: -20px;
     z-index: -1;
}

/* keyframe */

@keyframes flash {
     from {
          filter: opacity(0);
     }

     to {
          filter: opacity(1);
     }
}

@keyframes bounceIn {
     0% {
          filter: opacity(0);
          transform: translateX(-40px);

     }

     100% {
          filter: opacity(1);
          transform: translateX(0);

     }
}

/* Media Query */

@media only screen and (max-width: 1154px) {

     nav a:hover {
          color: white;
          font-size: 20px;
     }

     #header,
     footer {
          padding: 16px 32px;
     }

     section {
          padding: 64px 32px;
     }

     #landing {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

     }

     #landing>div {
          max-width: 100%;
     }

     #landing .paragraph {
          margin-bottom: 40px;
     }

     #landing img {
          max-width: 100%;

     }

     #about {
          flex-direction: column;
          text-align: center;
          justify-content: center;
          align-items: center;
     }

     #about>div {
          width: 100%;
     }

     #service .service-detail {
          column-gap: 10px;
     }

     .contact-detail {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          row-gap: 65px;
     }

     ._container_about {
          padding: 0 128px;
     }
}

@media (max-width: 680px) {
     .btn-contact {
          font-size: 10;
     }


     .service-detail {
          grid-template-columns: 1fr;
          column-gap: 0;
          row-gap: 10px;
     }

     .service-detail-item {
          padding: 50px;
          max-width: 80%;
     }

     #contact {
          padding: 0 20px;
          margin-bottom: 30px;
          /* Mengurangi padding sisi untuk membuat konten tetap dalam layar */
     }

     .contact-detail {
          display: flex;
          flex-direction: column;
          gap: 20px;
     }

     iframe {
          max-width: 100%;
     }

     .form_group {
          max-width: 100%;
     }

     .form-group {
          grid-template-columns: 1fr;
          column-gap: 0;
          grid-template-areas: "name" "subject"
               "email" " phone"
               "message " "message";
     }

     .social-icon {
          display: flex;
          flex-direction: column;
          gap: 20px;

     }

     .service-detail-item p {
          margin-bottom: 0;

     }

     ._container_about {
          padding: 0 32px;
     }

     nav a {
          font-size: 14px;
     }

     nav a:hover {
          color: white;
          font-size: 16px;
     }

     #header h1 {
          font-size: 22px;
     }
}